<div ng-app="test" ng-controller="IngredientController as app">
<h1>Create a new ingredient!</h1>
    <div class="button" name = "upl" ngf-select="upload($file)">Upload on file select</div>

    <form enctype="multipart/form-data">
    Ingredient Name:<br>
    <input type="text" ng-model="ingredientName"/><br>
    Ingredient Description:<br>
    <input type="text" ng-model="ingredientDescription"/><br>
    Ingredient Image:
    <div class="button" ngf-select ng-model="file" name="upl" ngf-pattern="'image/*'"
         ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
         ngf-resize="{width: 200, height: 200}">Select</div>
    Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'">
    <button ng-click="submit()">Save Ingredient</button>
        <button ng-click="reset()">RESET</button>

    </form>


    <div class="alert alert-danger" role="alert" ng-show="app.showFailed" style="margin-top:5px;">Your ingredient has not been added! Sorry.</div>
<div class="alert alert-success" role="alert" ng-show="app.showSuccess" style="margin-top:5px;">Your ingredient has been added! Thanks!</div>

</div>
