<div ng-app="test" ng-controller="IngredientController as app">

    <h1 style="text-align:left">Learn about the ingredients</h1>
    Search: <input ng-model="app.nameSearchInput" style="margin-bottom:20px">
    <div>
        <div class="panel panel-default" ng-repeat="ingredient in app.ingredients | filter:{name:app.nameSearchInput} | orderBy: 'name'" style="width:50%">
            <div class="panel-body">
                <h3>{{ingredient.name}}</h3>
                <img src="img/ingredient/placeholder.png" alt="..." height="100" width="100">
            </div>
            <div class="panel-footer"><p>{{ingredient.description}}</p></div>
        </div>
    </div>

</div>