<div ng-app="test" ng-controller="IngredientController as app">
<h1>Create a new ingredient!</h1>
<form novalidate>
    Ingredient Name:<br>
    <input type="text" ng-model="app.newName"/><br>
    Ingredient Description:<br>
    <input type="text" ng-model="app.newDescription"/><br>
    Ingredient Image:<br>
    <input type="text" ng-model="app.newImgID"/>
    <br><br>
    <button ng-click="reset()">RESET</button>
    <button ng-click="app.saveIngredient(app.newName,app.newDescription,app.newImgID)">Save Ingredient</button>
</form>

    <div class="alert alert-danger" role="alert" ng-show="app.showFailed" style="margin-top:5px;">Your ingredient has not been added! Sorry.</div>
<div class="alert alert-success" role="alert" ng-show="app.showSuccess" style="margin-top:5px;">Your ingredient has been added! Thanks!</div>

</div>
