<div ng-app="test" ng-controller="RecipeController as app">
    <h1>Create a new recipe!</h1>
    <form novalidate>
        Recipe Name:<br>
        <input type="text" ng-model="app.newName"/><br>
        Recipe Description:<br>
        <input type="text" ng-model="app.newDescription"/><br>
        Recipe Image:<br>
        <input type="text" ng-model="app.newImgID"/>
        <br><br>
        What ingredients are in the recipe?<br>
        Search: <input ng-model="app.nameSearchInput" style="margin-bottom:20px">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="control-group" ng-repeat="ingredient in app.ingredients | filter:{name:app.nameSearchInput} | limitTo:5">
                        <div class="col-md-2">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3>{{ingredient.name}}</h3>
                                    <img src="img/ingredient/{{ingredient.imageID}}" alt="..." height="100" width="100">
                                    <input type="checkbox" ng-model="ingredient.selected">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <button ng-click="reset()">RESET</button>
        <button ng-click="app.saveRecipe(app.newName,app.newDescription,app.newImgID)">Save Recipe</button>
    </form>

    <div class="alert alert-danger" role="alert" ng-show="app.showFailed" style="margin-top:5px;">Your recipe has not been added! Sorry.</div>
    <div class="alert alert-success" role="alert" ng-show="app.showSuccess" style="margin-top:5px;">Your recipe has been added! Thanks!</div>

</div>
